.container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 20px;
}

.leftPanel,
.rightPanel {
  width: 48%;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal.open {
  opacity: 1;
}

.productList {
  list-style-type: none;
  padding: 0;
}

.productListItem {
  background-color: #fff;
  margin: 10px 0;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.productListItemText {
  color: #333;
}

.productListItem button {
  background-color: #f44336;
  border: none;
  padding: 5px 10px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.productListItem button:hover {
  background-color: #d32f2f;
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .leftPanel,
  .rightPanel {
    width: 100%;
    margin-bottom: 20px;
  }
}

.toggleButton {
  background-color: #0070f3;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
}

.toggleButton:hover {
  background-color: #005bb5;
}
